{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css_aditional %}{% endblock%}
</head>
<body>
  
<header>
  <nav>
    <main class=" header_container">
    <a href='{% url 'error_log:index' %}'>Главная</a> 
    <a href='{% url 'error_log:topics' %}'>Темы</a> 
    {% if user.is_authenticated %}
      <a>Здравствуйте, {{ user.username }}.</a>
      <a href="{% url 'users:logout' %}">Покинуть приложение</a>
    {% else %}
      <a href="{% url 'users:register' %}">Зарегистрироваться</a> 
      <a href="{% url 'users:login' %}">Авторизироваться</a>
    {% endif %}
  </main>
  </nav>
</header>
  
  {% block content %}{% endblock content %}
</body>
</html>


