{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css_aditional %}{% endblock%}
</head>
<body>
  <p>
    <a href='{% url 'error_log:index' %}'>Инсайты непослушных: Журнал о шаловливых следах</a> -
    <a href='{% url 'error_log:topics' %}'>Темы</a> -
    {% if user.is_authenticated %}
      Здравствуйте, {{ user.username }}.
      <a href="{% url 'users:logout' %}">Покинуть приложение</a>
    {% else %}
      <a href="{% url 'users:register' %}">Зарегистрироваться</a> -
      <a href="{% url 'users:login' %}">Авторизироваться</a>
    {% endif %}
  </p>
  
  {% block content %}{% endblock content %}
</body>
</html>


