{% extends 'error_log/base.html' %}

{% load static %}

{% block css_aditional %}
<link rel='stylesheet' href="{% static 'error_log/css/index.css' %}">
{% endblock%}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {% block content %}
  <main class="container index">
    <p>Всем привет. Это приложение было создано для социальных педагогов, работающих в школе,
      чтобы было удобно составлять отчёты о происшествиях детишек. Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Eaque obcaecati architecto dolore similique, perspiciatis, consequatur amet omnis deleniti deserunt quasi
      nam veniam necessitatibus? Ex quae, mollitia tenetur, odio ducimus doloremque doloribus explicabo maiores sequi
      aperiam impedit sint blanditiis asperiores laudantium sunt corrupti cum! Sint fugiat perferendis, modi aliquid quo
      atque!
    <p>
  </main>
  {% endblock content %}


</body>

</html>