{% extends 'error_log/base.html' %}

{% load static %}

{% block css_aditional %}
<link rel='stylesheet' href="{% static 'error_log/css/index.css' %}">
{% endblock%}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {% block content %}
  <main class="container login">
    {% if form.errors %}
    <p>Ваше имя или пароль не совпали. Пожалуйста, попробуйте выполнить попытку входа ещё раз.</p>
    {% endif %}
    <form method="post" action="{% url 'users:login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button name='submit'>Авторизоваться</button>
      <input type="hidden" name="next" value="{% url 'error_log:index' %}" />
    </form>
  </main>
  {% endblock content %}

</body>

</html>